[Unit]
Description=Container Monitoring Service for shadowmysticcontainersmonitor
After=network.target

[Service]
EnvironmentFile=/usr/local/bin/shadowmysticcontainersmonitor/.env
ExecStart=/usr/local/bin/shadowmysticcontainersmonitor/shadowmysticcontainersmonitor.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target